{% extends 'EndroidDataSanitizeBundle::layout.html.twig' %}

{% block page_title %}
    Merge {{ name }} entities
{% endblock %}

{% block page_content %}

    {% if name %}

        <div id="application"></div>

    {% else %}

        Choose the entity you want to merge from the left menu.

    {% endif %}

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>
        let appConfig = {
            loadPath: "{{ path('endroid_datasanitize_merge_state', { name: name }) }}",
            mergePath: "{{ path('endroid_datasanitize_merge_merge', { name: name }) }}",
        }
    </script>

    {#<script src="http://localhost:8080/builds/index.js"></script>#}
    <script src="{{ asset('bundles/endroiddatasanitize/builds/index.js') }}"></script>

{% endblock %}