{% extends 'EndroidDataSanitizeBundle::layout.html.twig' %}

{% block page_title %}
    Merge entities
{% endblock %}

{% block page_content %}

    <form method="get" onchange="this.submit();">

        <div class="row" style="display: none;">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Merge strategy</h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered">
                            {% for relation in relations %}
                                <tr>
                                    <td><input name="strategy[{{ relation.id }}]" type="checkbox" value="1"{% if relation.id in strategy|keys %} checked="checked"{% endif %} /></td>
                                    <td width="100%">{{ relation.description }}{% if relation.required %} (otherwise these will be removed){% endif %}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Select entities to merge</h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tr>
                                <th></th>
                                {% for field in fields %}
                                    <th>{{ field }}</th>
                                {% endfor %}
                            </tr>
                            {% for entity in entities %}
                                <tr>
                                    <td width="20px"><input type="checkbox" name="selected[]" value="{{ entity.id }}"{% if entity.id in selected|keys %} checked="checked"{% endif %} /></td>
                                    {% for field in fields %}
                                        <td>
                                            {% if attribute(entity, field) is iterable %}
                                                {% for value in attribute(entity, field) %}
                                                    {{ value }}{% if not loop.last %},{% endif %}
                                                {% endfor %}
                                            {% else %}
                                                {{ attribute(entity, field) }}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Choose target entity</h3>
                    </div>
                    <div class="box-body">
                        {% for entity in selected %}
                            {% if loop.index > 1 %}<br />{% endif %}
                            <table class="table table-bordered">
                                <tr>
                                    <td width="20px" rowspan="{{ fields|length + 1 }}"><input type="radio" name="target" value="{{ entity.id }}"{% if target is not empty and entity.id == target.id %} checked="checked"{% endif %} /></td>
                                    <td><strong>id</strong></td>
                                    <td>{{ entity.id }}</td>
                                </tr>
                                {% for index, field in fields %}
                                    <tr>
                                        <td><strong>{{ field }}</strong></td>
                                        <td>
                                            {% if attribute(entity, field) is iterable %}
                                                {% for value in attribute(entity, field) %}
                                                    {{ value }}{% if not loop.last %},{% endif %}
                                                {% endfor %}
                                            {% else %}
                                                {{ attribute(entity, field) }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </form>

        <div class="col-md-4">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Edit data</h3>
                </div>
                <div class="box-body">
                    <form method="post">
                    <table class="table table-bordered">
                        {% if target is not empty %}
                            <tr>
                                <td><strong>id</strong></td>
                                <td width="100%">{{ target.id }}</td>
                            </tr>
                            {% for field in fields %}
                                <tr>
                                    <td><strong>{{ field }}</strong></td>
                                    <td width="100%">
                                        {% if attribute(target, field) is iterable %}
                                            {% for value in attribute(target, field) %}
                                                {{ value }}{% if not loop.last %},{% endif %}
                                            {% endfor %}
                                        {% else %}
                                            {{ attribute(target, field) }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td><input type="submit" value="Merge" /></td>
                            </tr>
                        {% endif %}
                    </table>
                    </form>
                </div>
            </div>
        </div>

    </div>

{% endblock %}