{% extends '@EndroidDataSanitize/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ preload(asset('/build/merge.css', 'endroid_data_sanitize')) }}">
{% endblock %}

{% block menu %}
    {{ render(controller('EndroidDataSanitizeBundle:Merge:menu')) }}
{% endblock %}

{% block content %}
    <h1>Merge {{ name }} entities</h1>
    {% if name %}
        <div id="application"></div>
    {% else %}
        Choose the entity you want to merge from the menu.
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let appConfig = {
            loadPath: "{{ path('endroid_data_sanitize_merge_state', { name: name }) }}",
            mergePath: "{{ path('endroid_data_sanitize_merge_merge', { name: name }) }}",
        }
    </script>
    <script src="{{ preload(asset('/build/merge.js', 'endroid_data_sanitize')) }}"></script>
{% endblock %}
